* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 20rem;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  box-shadow: 5px 5px 18px black;
  background-color:darkseagreen;
}

li {
  list-style-type: none;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  padding-top: 1rem;
  cursor: pointer;
  margin-left: 2rem;
  color: black;
}

li:hover {
  background-color: darkseagreen;
}

.books-list {
  margin: 1rem;
  max-width: 20rem;
}

.book-details {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left: 1px solid #144951;
  display: flex;
  justify-content: center;
  width: 28rem;
}

.book-details img {
  max-width: 15rem;
  border-radius: 0.5rem;
  margin-top: 1rem;  
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.addBook {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border-top: 5px solid darkseagreen;
}

.addBook input {
  margin-top: 1rem;
  padding-left: 0.5rem;
  height: 2rem;
  border-radius: 0.5rem;
    background-color:khaki;
}

.addBook input:focus-visible {
  outline: black auto 1px;
}

.addBook button {
  margin-top: 1rem;
  height: 2rem;
  background-color: #144951;;
  color: #ffffff;
  border: 1px solid arkseagreen;
  border-radius: 0.5rem;
  background-color: #144951;
  border-radius:15px;
}

.addBook button:hover {
  border: 1px solid #144951;
  background-color: darkseagreen;
  color: black;
}

.addBook input::placeholder {
  padding-left: 0.5rem;
}

p {
  padding-top: 0.5rem;
}

